@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --bg-primary-color: rgb(212, 246, 239);
  --btn-primary-color: #a88309;
  --btn-secondary-color: rgb(209, 206, 203);

  --radio-border-color: #8b8c89;
  --radio-checked-color: #274c77;
  --radio-hover-color: #a3cef1;
  --radio-disabled-bg-color: #d9d9d9;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

label {
  display: block;
  margin: 10px 0 5px 0;
  font-size: 0.8rem;
}

.main_label {
  font-weight: 800;
  font-size: 1.1rem;
  margin-bottom: 20px;;
}

.label_radio {
  display: inline;
}

form {
  background-color: var(--bg-primary-color);
  margin: 20px;
  padding: 20px;
  font-size: 0.7rem;
}

legend {
  border-bottom: solid 2px #2d0d79;
  margin: 10px 0;
  width: 100%;
  font-size: 0.9rem;
}

input, select, textarea {
  margin-bottom: 10px;
  width: 90%;
  padding: 5px 2px;

}

input[type="radio"] {
  width: 20px;
}


button, input[type="reset"], input[type="submit"] {
  width: 200px;
  border: 0;
  border-radius: 5px;
  background-color: var(--btn-secondary-color);
  margin: 5px 20px;
}


input.primary-action {
  color: white;
  background-color: var(--btn-primary-color);
  font-weight: 800;
}

input[type="radio"] {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 6px;
  padding: 0;
  border: 2px solid var(--radio-border-color);
  border-radius: 50%;
  appearance: none;
  background-color: transparent;
  outline: none;
}

input[type="radio"]:not(:disabled):checked {
  border-color: var(--radio-checked-color);
  background-color: var(--radio-checked-color);
  background-clip: content-box;
  padding: 2px;
  background-image: radial-gradient(
    circle,
    var(--radio-checked-color) 0%,
    var(--radio-checked-color) 50%,
    transparent 60%,
    transparent 100%
  );
}