<!DOCTYPE html>
<html>
  <head>
    <title>Books Management</title>
    <link rel="stylesheet" href="./css/mystyles.css" />
  </head>

  <body>
    <h1>Dashboard: <%= title %></h1>

    <div id="formContainer">
      <form action="" method="">
        <label for="codeInput">Code:</label>
        <input type="text" id="codeInput" name="code" placeholder="Enter the book's code" />
        <label for="titleInput">Name:</label>
        <input type="text" id="titleInput" name="title" placeholder="Enter the book's title" />
        <label for="authorInput">Address:</label>
        <input type="text" id="authorInput" name="author" placeholder="Enter the book's author full name" />
        <div>
          <input type="submit" value="Save">
        </div>
      </form>
    </div>
  </body>
</html>
