<%- include("./partials/header.ejs")%>  
    <main>
      <h1> 404 Error: Page Not Found</h1>
      <br>
      <h4>Back to site: <a href="/">Home</a></h4>
      <br>
    </main>
    <footer>
      <p><a href="/">Home</a></p>
      <p>@ IDEA Corporation, 2022</p>
      <p><a href="/about">About the company</a></p> 
    </footer>
  </body>
</html>
