table {
  border-collapse: collapse;
  margin: 20px;
  width: 90%;
}

.grey {
  background-color: rgb(180, 178, 178);
}

.border {
  border: 2px solid blueviolet;
}

form {
  margin: 20px;
  border: 2px solid blueviolet;
  width: 90%;
}

form div {
  margin: 10px;
}