<!DOCTYPE html>
<html>
  <head>
    <title>Companies Data Management</title>
    <link rel="stylesheet" href="./css/mystyles.css" />
  </head>

  <body>
    <h1>Dashboard: Companies</h1>
    <h2>Companies Management</h2>

    <div id="formContainer">
      <label for="codeInput">Code:</label>
      <input type="text" id="codeInput" name="codeInput" placeholder="Enter the company's code" />
      <label for="nameInput">Name:</label>
      <input type="text" id="nameInput" name="nameInput" placeholder="Enter the company's name" />
      <label for="addressInput">Address:</label>
      <input type="text" id="addressInput" name="addressInput" placeholder="Enter the company's address" />
      <label for="descInput">Description:</label>
      <input type="text" id="descInput" name="descInput" placeholder="Enter a description of the company" />
      <label for="capitalInput">Capital:</label>
      <input type="text" id="capitalInput" name="capitalInput" pattern="[0-9]{1,20}" placeholder="Enter the company's capital" />
      <label for="ownerInput">Owner:</label>
      <input type="text" id="ownerInput" name="ownerInput" pattern="[a-zA-Z ]{2, 50}" placeholder="Enter the company's owner fullname" />
      <button onclick="addData()">Add</button>
    </div>
    <table id="outputTable">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </table>
    <script>
      
    </script>
  </body>
</html>
