
.grey {
  background-color: rgba(205, 213, 234, 0.333);
}

.border {
  border: 2px solid blueviolet;
}

.table_curriculum_header {
  background-color: rgba(174, 146, 176, 0.333);
}

.level_row {
  background-color: rgba(35, 66, 145, 0.333);
  text-align: center;
}

.row_class_selected {
  background-color: rgba(26, 65, 162, 0.333);
  border: 2px solid rgb(35, 11, 88);
}