<!DOCTYPE html>
<html>
  <head>
    <title>Books Management</title>
    <link rel="stylesheet" href="/css/mystyles.css" />
  </head>

  <body>
    <header>
      <h1>Dashboard: <%= title %></h1>
      <nav>
        <ul>
          <p>Menu:</p>
          <li><a href="/books/v1/add/">Add a book</a></li>
          <li><a href="/books/v1/search/">Seach for books</a></li>
        </ul>
      </nav>
    </header>