<!DOCTYPE html>
<html>
  <head>
    <title>Companies Data Management</title>
    <link rel="stylesheet" href="/css/mystyles.css" />
  </head>
  <body>
    <header>
      <h1>Companies Management</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/companies">Companies</a></li>
        </ul>
      </nav>
    </header>
    <main>