<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IDEA chairs Store</title>
      <!-- style sheets -->
    <link rel="stylesheet" href="./css/css-reset.css">
    <link rel="stylesheet" href="./css/main-styles.css">

    <script src="data.js" type="text/JavaScript"></script>

  </head>
  <body>
    <header>
      <h1>IDEA chairs Store</h1>
    </header>
    <main class="main">
      <section class="cards_section">



       <% if(chairs && chairs.length > 0){ %>
          <% chairs.forEach( chair => { %>
            <article class="card">
              <img src="<%= chair.img %>" alt="<%= chair.alt %>">
              <h2><%= chair.name %></h2>
              <p><%= chair.price %> SAR</p>
              <button>Buy</button>
            </article>
          <% }); %>
        <% } else { %>
          <p> No products to display </p>
        <% } %>


      </section>
    </main>
    <footer>
      <p><a href="/">Home</a></p>
      <p>@ IDEA Corporation, 2022</p>
      <p><a href="/about">About the company</a></p> 
    </footer>
  </body>
</html>

