<%- include("./partials/header.ejs") %>
    <main>
      <h1> 404 Error: Page Not Found</h1>
      <br>
      <h4>Back to site: <a href="/">Home</a></h4>
      <br>
    </main>
<%- include("./partials/footer.ejs") %>
