<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IDEA chairs Store</title>
      <!-- style sheets -->
    <link rel="stylesheet" href="./css/css-reset.css">
    <link rel="stylesheet" href="./css/main-styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|Changa">
  </head>
  <body>
    <header>
      <h1>IDEA chairs Store</h1>
    </header>
    <main>
      <br>
    </main>
    <footer>
      <p><a href="/">Home</a></p>
      <p>@ IDEA Corporation, 2022</p>
      <p><a href="/about">About the company</a></p> 
    </footer>
  </body>
</html>