<form action="/" method="POST" class="search_form">
  <label for="chair_select" class="">Search by chair type:</label>
  <select name="chairtype" id="chair_select" class="">
    <option value="0" class="">All</option>
    <option value="1" class="">Mobile office chair</option>
    <option value="2" class="">Stand chair</option>
    <option value="3" class="">Static chair</option>
    <option value="4" class="">Gaming chair</option>
  </select>
  <button class="">Search</button>
</form>