:root {
  --bg-primary: #47619e;
}

#books {
  font-family: 'Times New Roman', Times, serif;
  width: 95%;
  margin: 20px;
}

td, th {
  border: solid 1px var(--bg-primary);
  text-align: left;
}

td {
  padding: 8px;
}

th {
  padding: 12px 8px;
  background-color: var(--bg-primary);
  color:white;
}

tr:nth-child(2n) {
  background-color: gainsboro;
}

tr:hover {
  background-color: blanchedalmond;
}

body {
  background-color: bisque;
}

form {
  border: solid 1px black;
  width: 80%;
  margin: auto;
  padding: 20px;
}

input, textarea, select {
  border: 0;
  border-radius: 4px;
  width: 95%;
}

input:invalid {
  background-color: rgb(244, 106, 129);
}

input[type="radio"] {
  width: 60px;
  margin: 0 0 0 5px ;
}

input[type="submit"], input[type="reset"] {
  width: 100px;
  margin: 20px 20px 20px 0;
  background-color: #47619e;
  color: white;
}

form div {
  padding: 10px;
}