
.books-grid {
  display: grid;
  width: 100%;
}

.card {
  display: flex;
  width: 95%;
  flex-direction: column;
  margin: 20px;
  background-color: var(--bg-secondary);
  border: solid 1px black;
}

.card img {
  width: 70%;
}

.card * {
  margin: 20px;
  padding: 10px;
}

.card button {
  margin-top: auto;
}


/**
* For small screens ( < 679px )
**/
@media screen and (max-width: 679px) {
  .books-grid {
    grid-template-columns: 1fr;
  }
}

/**
* For medium screens ( 680px -> 979px )
**/
@media screen and (min-width: 680px) and (max-width: 979px) {
  .books-grid {
    grid-template-columns: 1fr 1fr;
  }
}


/**
* For extra large screens ( >= 980px )
**/
@media screen and (min-width: 980px) {
  .books-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}