
/* Footer Rules: Start */

footer {
  font-family: 'Cinzel', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px;
  background-color: var(--bg-main);
}

footer img {
  width: 10%;
}

footer p, footer a {
  font-style: italic;
  text-align: center;
}
/* Footer Rules: End */