.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  background-color: var(--bg-secondary);
  border: solid 1px black;
  align-items: center;
}

.books-grid {
  display: grid;
}

.card img {
  width: 70%;
}

.card * {
  margin-top: 20px;
  margin-bottom: 10px;
}

.card button {
  border: 0;
  border-radius: 5px;
  background-color: var(--bg-main);
  width: 180px;
  padding: 10px;
  margin-top: auto;
  font-weight: 800;
}

/**
* For small screens ( < 679px )
**/
@media screen and (max-width: 679px) {

  .books-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .card {
    width: 50%;
    justify-self: center;
  }

}

/**
* For medium screens ( 680px -> 979px )
**/
@media screen and (min-width: 680px) and (max-width: 979px) {
  
  .books-grid {
    grid-template-columns: 1fr 1fr;
  }

}

/**
* For large screens ( >= 980px )
**/
@media screen and (min-width: 980px) {
  
  .books-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

}