@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

header {
  text-align: center;
  margin: 0 auto;
}

.banner {
  height: 200px;
  background: url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

#books {
  border: solid 2px black; 
  /* border-collapse: collapse; */
}

h2 {
  margin: 15px;
}

td, th {
  border: solid 2px black; 
  padding: 15px;
}

td {
  
}

th {
  background-color: lightskyblue;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

tr:hover {
  background-color: burlywood;
}

label {
  display: block;
}

form {
  border: solid 2px black;
  width: 80%;
  margin: auto;
}

