.books-grid {
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  border: solid 1px black;
  align-items: center;
  margin: 20px;
  justify-self: center;
}

.card img {
  width: 70%;
}

.card * {
  margin: 20px;
  padding: 10px;
}

.card button {
  background-color: var(--bg-main);
  width: 50%;
  font-weight: 800;
  border: 0;
  border-radius: 5px;
  margin-top: auto;
}

/**
* For small screens ( < 679px )
**/
@media screen and (max-width: 679px) {
  body {
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
  }

  .books-grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 50%;
  }
}

/**
* For large screens ( 680px -> 979px )
**/
@media screen and (min-width: 680px) and (max-width: 979px)  {
  .books-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/**
* For extra large screens ( >= 980px )
**/
@media screen and (min-width: 980px) {
  .books-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}