@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --bg-main: rgb(210, 139, 53);
  --bg-secondary: rgb(221, 198, 134);
  --bg-tertiary: palegoldenrod;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: black;
  min-width: 360px;
  min-height: 400px;
  width: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  background-color: var(--bg-main);
}