header {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
}

header img {
  width: 8%;
  margin: 10px;
}

.site-header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.site-header h1 {
  flex-basis: 90%;
  text-align: center;
  font-size: 3rem;
  font-style: italic;
}